.benefits {
    display: flex;
}

.benefits__item {
    width: 270px;

    &:not(:last-child) {
        margin-right: 30px;
        }
}

.benefits__img {
    display: flex;
    background-color: #F5F4FA;
    height: 120px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.benefits__title {
    @extend %text-placeholder;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-top: 10px;
}