.work-process {
    padding-bottom: 94px;
}

.work-process__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.work-process_flex {
    display: flex;
    margin-top: 50px;
}

.work-process__item {
    display: block;
    position: relative;

    &:not(:last-child) {
            margin-right: 30px;
            width: 370px;
        }
}

.work-process__text {
    position: absolute;
    background-color: rgba(47, 48, 58, 80%);
    width: 100%;
    left: 0;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    @extend %text-placeholder;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}